<?xml version="1.0"?>
<config>
    <modules>
        <Kasterweb_CatalogPrice>
            <version>1.0.0</version>
        </Kasterweb_CatalogPrice>
    </modules>
    <global>
        <helpers>
            <kasterweb_catalogprice>
                <class>Kasterweb_CatalogPrice_Helper</class>
            </kasterweb_catalogprice>
        </helpers>
        <blocks>
            <kasterweb_catalogprice>
                <class>Kasterweb_CatalogPrice_Block</class>
            </kasterweb_catalogprice>
        </blocks>
        <models>
            <kasterweb_catalogprice>
                <class>Kasterweb_CatalogPrice_Model</class>
            </kasterweb_catalogprice>
            <catalog>
                <rewrite>
                    <product>Kasterweb_CatalogPrice_Model_Product</product>
                </rewrite>
            </catalog>
        </models>
        <translate>
            <modules>
                <Kasterweb_CatalogPrice>
                    <files>
                        <kasterweb_catalogprice>kasterweb/CatalogPrice.csv</kasterweb_catalogprice>
                    </files>
                </Kasterweb_CatalogPrice>
            </modules>
        </translate>
    </global>
</config> 